<!DOCTYPE html>
<html lang="en">
<%- include( './partials/head.ejs' ) %> 
<%- include( './partials/nav.ejs' )  %>
    <title>Edit Realtor</title>
</head>
<body class="editHomeFormBody">
    <form class="editHomeForm"  method="POST" action="/house/<%=house._id%>?_method=PUT">
      <div>
        <label id="houseName">House Name</label>
          <input
          id="editHomeName"
            class="input"
            type="text"
            placeholder="name"
            name="name"
            value="<%= house.name %> "
          />
        </div>
      </div>
      
    
      <div>
        <label id="img1">Image One</label>
        <div class="control">
          <input id="houseEditImg1"
            class="input"
            type="text"
            placeholder=" image"
            name="imageOne"
            value="<%= house.imageOne %> "
          />
        </div>
      </div>
      <div>
        <label id="img2">Image Two</label>
        <div class="control">
          <input
          id="houseEditImg2"
            class="input"
            type="text"
            placeholder=" image"
            name="imageTwo"
            value="<%= house.imageTwo %> "
          />
        </div>
      </div>  <div>
        <label id="img3">Image Three</label>
        <div class="control">
          <input
          id="houseEditImg3"
            class="input"
            type="text"
            placeholder=" image"
            name="imageThree"
            value="<%= house.imageThree %> "
          />
        </div>
      </div>

      <div>
        <label id="bedNum">Beds</label>
        <div class="control">
          <input
          id="houseEditBeds"
            class="input"
            type="text"
            placeholder=" # beds"
            name="beds"
            value="<%= house.beds %> "
          />
        </div>
        <div>
            <label id="bathNum">Baths</label>
            <div class="control">
              <input
              id="houseEditBaths"
                class="input"
                type="text"
                placeholder=" # baths"
                name="baths"
                value="<%= house.baths %> "
              />
            </div>
            <div>
          <label id="housePriceLbl">Price</label>
                <div class="control">
                  <input
                  id="houseEditPrice"
                    class="input"
                    type="text"
                    placeholder="$$$$"
                    name="price"
                    value="<%= house.price %> "
                  />
                </div>
                <div>

                    </div>
           
   
      
          <div>
       <input id="editHomeButton" type="submit" value="Edit Your Listing">
          </div>
      </div>
      </form>
</body>
</html>