<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include( 'partials/head.ejs' )  %>
<%- include( 'partials/nav.ejs' )  %>

<body class="homeInfoPage">
    <h2 class="homeTitle">House: <%=house.name%></h2>
        <div class="homePics">
            <!-- <h2>Name: <%= house.name %></h2> -->
            <p><img src="<%=house.imageOne%>" style="max-width: 200px;"></p>
            <p><img src="<%=house.imageTwo%>" style="max-width: 200px;"></p>
            <p><img src="<%=house.imageThree%>" style="max-width: 200px;"></p>
        </div>
            <div class="houseInfo">
                <p id="homePrice">Price: $<%= house.price %></p>
                <p id="homeCity">City: <%= house.city %></p>
                <p id="homeBeds">Beds: <%= house.beds %></p>
                <p id="homeBaths">Baths: <%= house.baths%></p>
                    <div class="homeRealtorInfo"> 
                        <a id="realtorInfoPic" href="/realtor/<%=house.realtor._id%>" > <img src='<%= house.realtor.image %> ' style="max-width: 100px"> </a>
                        <div id="realtorInfoName">
                            Realtor <%=house.realtor.name%>'s Profile! 
                        </div> 
                    </div>
            </div>
    <button id="editHomeListing"><a href="<%= house._id %>/edit"> Edit Listing</a></button>
        <div>
            <p  class="control" >
                <form method="POST" action="/house/<%= house._id %>?_method=DELETE">
                    <input id="homeDelete" class="button is-danger" type="submit" value="Delete Listing"/> 
                </form>
            </p>
        </div>
</body>

</html>