<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include( 'partials/head.ejs' )  %>

<body>
    <%- include( 'partials/nav.ejs' )  %>

    <section>
        <div>
            <h2 class="title">House: <%=house.name%>
            </h2>

        </div>
    </section>

    <main class="container">
        <div>
            <!-- <h2>Name: <%= house.name %></h2> -->
            <small><img src="<%=house.imageOne%>" style="max-width: 200px;"></small>

            <small><img src="<%=house.imageTwo%>" style="max-width: 200px;"></small>
            <small><img src="<%=house.imageThree%>" style="max-width: 200px;"></small>

            <small>Price <%= house.price %></small>
            <small>City: <%= house.city %></small>
            <small>Beds: <%= house.beds %></small>
            <small>Baths: <%= house.baths%></small>
        </div>
<div> REALTOR INFO</div>

<h2> <%= house.realtor.name %></h2>



<% console.log(typeof(house.realtor))
console.log(house.realtor)
console.log(house.realtor)
console.log(house.realtor === realtor[1]._id) %>


        <div>
            <p class="control">
                <form method="POST" action="/house/<%= house._id %>?_method=DELETE">
                    <input class="button is-danger" type="submit" value="Delete Listing"/> 
                    </form>
            </p>

        </div>

    </main>

</body>

</html>