<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs' ) %>  
<%- include( '../partials/nav.ejs' )  %>
    <title>Edit Realtor</title>
</head>
<body class="editRealtorBody">
    <form class="realtorEditForm" method="POST" action="/realtor/<%=realtor._id%>?_method=PUT">

        <div>
          <input
          id="name"
            class="input"
            type="text"
            placeholder="name"
            name="name"
            value="<%= realtor.name %> "
          />
        </div>
      </div>
      
    
      <div>
        <label></label>
        <div class="control">
          <input
          id="image"
            class="input"
            type="text"
            placeholder=" image"
            name="image"
            value="<%= realtor.image %> "
          />
        </div>
      </div>

      <div>
        <label></label>
        <div class="control">
          <input
          id="email"
            class="input"
            type="text"
            placeholder=" email"
            name="email"
            value="<%= realtor.email %> "
          />
        </div>

      <div>
        <label></label>
        <div class="control">
          <input
          id="note"
            class="input"
            type="text"
            placeholder=" note"
            name="note"
            value="<%= realtor.note %> "
          />
        </div>
      </div>
      
          <div>
       <input id="realtorEditButton" type="submit" value="Edit Your Page">
          </div>
      </div>
      </form>
</body>
</html>