        <!DOCTYPE html>
        <html lang="en">
        <%- include( '../partials/head.ejs' ) %> 
    <body>  
		<%- include( '../partials/nav.ejs' )  %>
            <h2>Awesome Realtors</h2>
            <% for( let i = 0; i<realtor.length; i++){ %>
                <% const firstRealtor = realtor[i] %>
                <a href="/realtor/<%=firstRealtor._id%>"><%= firstRealtor.name %>
                <img src="<%=firstRealtor.image%>" style="max-width: 200px;"></a> 
                <br>
            <% } %>
            <p>
            <a href="/realtor/new"> Join our Realtor database! </a>
            </p>
        </body>
        </html>