<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs' ) %> 
<body>  
<%- include( '../partials/nav.ejs' )  %>
    <title><%= realtor.name %> | Realtor</title>
</head>
<body>
    <div class="realtorProfileInfo">
        <div id="profileCard">
            <div id="profilePic">
                <img src="<%=realtor.image%>" style="max-width: 200px;"></small>
            </div>
            <div id="profileInfo">
                <h2> <%= realtor.name %></h2>
                <h3> <%= realtor.email %></h3>
            </div>
        </div>
        <div id="aboutRealtor">
            <h5>About Me</h5>
            <h4> <%= realtor.note %></h4>
        </div>
        <p>
            <button id="listWithMe"><a href="/house/new"> List with me! </a></button>
        </p>
    </div>
    <div class="realtorInfoProperties">
        Properties Listed Under <%= realtor.name %>:
        <div id="propertiesInfoList"><hr>
            <% for( let i = 0; i<house.length; i++){ %>
                <% const firstHouse = house[i] %>
                <div class="realtorShowLoop">
                <h2> <%=i+1%></h2></hr>
                <a href="/house/<%=firstHouse._id%>"><%= firstHouse.name %></a>
                <img src="<%=firstHouse.imageOne%>" style="max-width: 200px; max-height: 100px;"> 
            </div>
            <% } %> 
        </div>
    </div>      
        <div>
            <p class="control">
                <button id="realtorInfoEditBtn"><a href="<%= realtor._id %>/edit"> Edit Realtor Page</a></button>
                <form method="POST" action="/realtor/<%= realtor._id %>?_method=DELETE">
                    <input id="realtorInfoDeleteBtn" class="button is-danger" type="submit" value="Delete Realtor"/> 
                </form>
            </p>
        </div>
</body>
</html>