<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs' ) %> 
<body>  
<%- include( '../partials/nav.ejs' )  %>
    <title><%= realtor.name %> | Realtor</title>
</head>
<body>
    <div class="realtorProfileInfo">
        <div id="profileCard">
            <img src="<%=realtor.image%>" style="max-width: 200px;"></small>
             <h2> <%= realtor.name %></h2>
             <h3> <%= realtor.email %></h3>
        </div>
        <div id="aboutRealtor">
            <h3> <%= realtor.note %></h3>
        </div>
        <p>
            <button><a href="/house/new"> List with me! </a></button>
        </p>
    </div>
    <div class="realtorInfoProperties">
        Properties Listed Under <%= realtor.name %>:
        <% for( let i = 0; i<house.length; i++){ %>
            <% const firstHouse = house[i] %>
            <h2> <%=i+1%></h2>
            <a href="/house/<%=firstHouse._id%>"><%= firstHouse.name %></a>
            <img src="<%=firstHouse.imageOne%>" style="max-width: 200px;"> 
        <% } %> 
    </div>      
        <div>
            <p class="control">
                <button><a href="<%= realtor._id %>/edit"> Edit Realtor Page</a></button>
                <form method="POST" action="/realtor/<%= realtor._id %>?_method=DELETE">
                    <input class="button is-danger" type="submit" value="Delete Realtor"/> 
                </form>
            </p>
        </div>
</body>
</html>