<!DOCTYPE html>
<html lang="en">
	<%- include( '../partials/head.ejs') %> 
   
		<%- include( '../partials/nav.ejs' )  %>
        <body class="chiIndexPageBuffer"> 
        <section>
            <div>
                <h2 class="title">Chicago Listings</h2>
            </div>
        </section>

        <main class="container">
            <div class="chiLoop"> 
                <% for( let i = 0; i<chicagoHouse.length; i++){ %>
                    <% const firstHouse = chicagoHouse[i] %>
                    <div class="oneChiLoop">
                    <a href="/house/<%=firstHouse._id%>"><%= firstHouse.name %></a>
                    <img src="<%=firstHouse.imageOne%>" style="max-width: 200px;"> 
                     </div>
                <% } %>
            </div>
        </main>
        
	</body>
</html>