<!DOCTYPE html>
<html lang="en">
	<%- include( '../partials/head.ejs' ) %> 
     
		<%- include( '../partials/nav.ejs' )  %>
        <body class="dcBuffer"> 
        <section>
            <div>
                <h2 class="title">D.C. Listings</h2>
            </div>
        </section>

        <main class="container">
            <div class="dcLoop">
                <% for( let i = 0; i<dcHouse.length; i++){ %>
                    <% const firstHouse = dcHouse[i] %>
                   <div class="oneLoopDc">
                    <img src="<%=firstHouse.imageOne%>" style="max-width: 200px;">
                    <a href="/house/<%=firstHouse._id%>"><%= firstHouse.name %></a> 
                </div>
                <% } %>
            </div>
        </main>
    
	</body>
</html>